

body {
  font-family: "Helvetica" , sans-serif;
}

.header {
  display: flex;

}

/* Header */

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ffffff;
  height: 64px;
  margin-top: 0;
  padding-left: 8px;
  padding-right: 8px;
}

header ul {
  display: flex;
  flex-direction: row;

}

li {
 padding-right: 16px;
}

/* Banner */

.banner {
  display: flex;
  background: linear-gradient(#77cad5, #58bd91);
  align-items: center;

}

.banner img{
  padding: 32px 24px;
  min-width: 58%;
  max-width: 58%;
  height: auto;

}

.banner .info{
  display: inline-flex;
  flex-direction: column;

  max-width: 300px;
  padding-right: 70px;
  line-height: 1;

}
.info h1{
  display: flex;
  font-size: 35px;
  font-weight: bold;
  color: #333333;

}

.info p{
  color: #333333;
}

.info span{
  text-align: center;
  align-items: center;
  max-width: 290px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #ffffff;
  background-color: #333333;
}

/* Campus */

.campus {
  display: flex;
  margin: 32px 0px 32px 24px;


}

.main {
min-width: 60%;
max-width:60%;
padding-right: 24px;
border-right: 1px solid lightgrey;


}
.main img {
width: 100%;
margin-right: 24px;
margin-bottom: 32px;
}

.main h1{
  font-size: 25px;
  margin-bottom: 20px;

}

.sub{
  display: flex;
  flex-direction: column;
  height: 100%;


}

.subbox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 35%;
  border: 0.2px solid lightgrey;
}

.pic img{

  min-width: 10%;
  max-width: 80%;
  padding: 10px;

}

.subbox h3{
  font-weight: bold;
  line-height: 1.5;
}

/*Courses*/

.coursebox{
  padding: 32px 72px;
  background: linear-gradient(#015249, #58bd91);

}

.coursebox h1{
  text-align: center;
  font-size: 24px;
  margin-bottom: 32px;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  vertical-align: baseline;

}

.box{
  margin: 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300px;
  height: 375px;
  border: 1px solid;
  background-color: rgb(238,242,248);
}

.box img{
  width:  100%;
  margin-bottom: 16px;
}
.courseinfo {
  margin: 16px 24px;

}
.courseinfo h3{
  font-weight: bold;
}

.courseinfo p{
  margin-top: 8px;
  line-height: 2;
}

/* Thesis */

.thesisbox{
  padding: 32px 0px 24px 24px;

}


.thesisbox h1{
  text-align:center;
  font-size: 24px;
  margin-bottom: 32px;
}
.thesis{
  display: flex;
}
.thesismain {
min-width: 60%;
max-width:60%;
padding-right: 24px;
}

.thesismain video {
width: 100%;
margin: 32px 0px 24px;
}

.thesismain h1{
  text-align: left;
  font-size: 25px;
  margin-bottom: 20px;

}

.thesisquote p{
  margin-bottom: 24px;
}

.thesissub{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 32px;

}

/*Footer*/

.footer{
  display: flex;
  height: 50px;
  width: 100%;
  border-top: 1px solid grey;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  

}

.colmar{
  flex-grow: 2
}

.terms a{
  margin-right: 10px;
}
