

body {
  font-family: "Raleway" , sans-serif;
}

.header {
  display: flex;

}

/* Header */

.header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  height: 64px;
  margin-top: 0;
  padding-left: 8px;
  padding-right: 8px;
}

.logotitle{
flex-grow: 2;
}

.logotitle #colmar{
  color: #0E453E;
}
.logotitle #academy{
  color: #58bd91;
}


header ul {
  display: flex;
  flex-direction: row;

}

li {
 padding-right: 16px;
}

/* Banner */

.banner {
  display: flex;
  background: linear-gradient(#77cad5, #58bd91);
  align-items: center;

}

.banner img{
  padding: 32px 24px;
  min-width: 58%;
  max-width: 58%;
  height: auto;

}

.banner .info{
  display: inline-flex;
  flex-direction: column;

  max-width: 300px;
  padding-right: 70px;
  line-height: 1;

}
.info h1{
  display: flex;
  font-size: 35px;
  font-weight: 700;
  color: #333333;
}

.info a:hover{
  color: rgb(238,242,248);
  transition: all 1s ease-out 0.2s;
}
.info p{
  color: #333333;
}

#button{
  text-align: center;
  align-items: center;
  max-width: 290px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: rgb(238,242,248);
  background-color: #333333;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

#button a{
  color: rgb(238,242,248);
}

#button:hover {
  background-color: rgb(238,242,248);
  color: #333333;
  transition: all 1s ease-out 0.2s;
}

#button:hover a{
color:#333333;
transition: all 1s ease-out 0.5s;

}


/* Campus */

.campus {
  display: flex;
  padding: 32px 0px 32px 24px;
  background-color: rgb(238,242,248);


}

.main {
min-width: 60%;
max-width:60%;
padding-right: 24px;
border-right: 1px solid lightgrey;


}
.main img {
width: 100%;
margin-right: 24px;
margin-bottom: 32px;
}

.main h1{
  font-size: 25px;
  margin-bottom: 20px;
  color: #333333;
}

.quote p span{
  color: #333333;
}

.sub{
  display: flex;
  flex-direction: column;
  height: 100%;


}

.subbox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 35%;
  border: 0.2px solid #015249;
}

.pic img{

  min-width: 10%;
  max-width: 80%;
  padding: 10px;

}

.subbox h3{
  font-weight: bold;
  line-height: 1.5;
  color: #333333;
}

.subbox:last-child{
  background-color:
  #E9E9E9;
}

/*Courses*/

.coursebox{
  padding: 32px 72px;
  background: linear-gradient(#015249, #58bd91);

}

.coursebox h1{
  text-align: center;
  font-size: 30px;
  margin-bottom: 32px;
  font-weight: 600;
  color:rgb(238,242,248);
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  vertical-align: baseline;

}

.box{
  margin: 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300px;
  height: 375px;
  background-color: rgb(238,242,248);
}

.box img{
  width:  100%;
  margin-bottom: 16px;
}
.courseinfo {
  margin: 16px 24px;

}
.courseinfo h3{
  font-weight: bold;
  color: #333333;

}

.courseinfo p{
  margin-top: 8px;
  line-height: 2;
  color: #333333;

}

.box:hover{
  background-color: #333333;
  border: none;

  border-radius: 50px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);

}
.box:hover h3,
.box:hover p{
  color: rgb(238,242,248);
}



.box:hover {
  transition: all 1s ease-out .1s;
}

.box h3,
.box p{
  transition: all 0.5s ease;
}




/* Thesis */

.thesisbox{
  padding: 32px 0px 24px 24px;
  background-color: rgb(238,242,248);

}


.thesisbox h1{
  text-align:center;
  font-size: 30px;
  margin-bottom: 32px;
  font-weight: 600;
  color: #333333;
}
.thesis{
  display: flex;
}
.thesismain {
min-width: 60%;
max-width:60%;
padding-right: 24px;
}

.thesismain video {
width: 100%;
margin: 32px 0px 24px;
}

.thesismain h1{
  text-align: left;
  font-size: 25px;
  margin-bottom: 20px;
  color: #333333;
}

.thesisquote p{
  margin-bottom: 24px;
  color: #333333;
}

.thesissub{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 32px;

}

/*Footer*/

.footer{
  display: flex;
  height: 50px;
  width: 100%;
  border-top: 1px solid #015249;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;


}

.colmar{
  flex-grow: 2
}

.terms a{
  margin-right: 10px;
}
